/* Configuration initial */

* {
  font-family: Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #222;
  color: #fff;
}

/* Messages Flash */
.message {
  margin: 0 auto;
  padding: 0.4em;
  color: red;
  text-align: center;
  background-color: #f88f89;
  border: 1px solid red;
  max-width: 400px;
  margin-bottom: 20px;
}

.message-success {
  margin: 0 auto;
  padding: 0.4em;
  color: green;
  text-align: center;
  background-color: #ecf081;
  border: 1px solid green;
  max-width: 400px;
  margin-bottom: 20px;
}

/* Header */

#logo img {
  height: 40px;
}

#navbar {
  padding: 1.2em 1.4em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  border-bottom: 2px solid #f6982d;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
  color: #fff;
}

#navbar ul li a:hover {
  color: #f6982d;
}

/* Container */
.container-home {
  min-height: 80vh;
  padding: 2em;
}

/* Login e Register */
.auth-container {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
  margin-bottom: 1.5em;
  color: #fff;
  border-left: 4px solid #f6982d;
  padding: 0.3em;
  width: 100px;
}

.auth-container a {
  color: #f6982d;
}

.auth-container p {
  text-align: right;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form input,
.form textarea {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #f6982d;
}

form input[type="submit"],
.btn {
  background-color: transparent;
  color: #f6982d;
  width: 180px;
  height: 40px;
  border: 2px solid #f6982d;
  font-weight: bold;
  margin-bottom: 1em;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

form input[type="submit"]:hover,
.btn:hover {
  background-color: #f6982d;
  color: #fff;
}

/* Footer */

footer {
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #f6982d;
}

footer span {
  font-weight: bold;
  color: #f6982d;
}
